<%= render 'cashes/cash' %>

<%= render template: 'cashes/flows/show' %>

<% if @cash.opened? %>
  <% if @cash.errors[:status].present? %>
    <%= render 'cashes/lock' %>
  <% else %>
    <%= link_to cash_lock_path(@cash), class: 'btn btn-danger', method: :patch do %>
      <%= fa_icon('lock', text: t('cashes.lock')) %>
    <% end %>
  <% end %>
  <%= link_to fa_icon('arrow-circle-left', text: t('cashes.flows')),
    cash_flows_path(@cash), class: 'btn btn-warning' %>
  <%= link_to edit_cash_counts_path(@cash), class: 'btn btn-warning', remote: true do %>
    <%= fa_icon 'lock', text: Cash.human_attribute_name('closing_balance') %>
  <% end %>
<% elsif LockAuthorizer.deletable_by?(current_user) %>
  <%= link_to cash_lock_path(@cash), class: 'btn btn-success', method: :delete do %>
    <%= fa_icon('unlock', text: t('cashes.unlock')) %>
  <% end %>
  <div class="pull-right"><%= link_to_index cashes_path %></div>
<% end %>
