<div class="page-header page-header-sm">
  <h3><%= @custom_template %></h3>
</div>

<p>
  <strong class="label label-default"><%= CustomTemplate.human_attribute_name 'header_template' %>:</strong>
</p>
<blockquote>
  <% if ht = @custom_template.header_template %>
    <% if ht.image.try(:file).try(:exists?) %>
      <%= image_tag image_header_template_path(ht) %>
    <% end %>
  <% end %>
</blockquote>

<p>
  <strong class="label label-default"><%= CustomTemplate.human_attribute_name 'content' %>:</strong>
</p>
<blockquote>
  <%= raw @custom_template.content %>
</blockquote>

<p>
  <strong class="label label-default"><%= CustomTemplate.human_attribute_name 'footer_template' %>:</strong>
</p>
<blockquote>
  <% if ft = @custom_template.footer_template %>
    <%= raw ft.content %>
  <% end %>
</blockquote>

<hr />

<%= link_to_edit [:edit, @custom_template] %> |
<%= link_to_index custom_templates_path %>
