<div class="page-header page-header-sm">
  <h3><%= @adviser %></h3>
</div>

<p>
  <strong><%= Adviser.human_attribute_name 'identification_type' %>:</strong>
  <%= t_field @adviser, 'identification_type' %>
</p>

<p>
  <strong><%= Adviser.human_attribute_name 'identification' %>:</strong>
  <%= @adviser.identification %>
</p>

<p>
  <strong><%= Adviser.human_attribute_name 'phone' %>:</strong>
  <%= @adviser.phone %>
</p>

<hr />

<%= link_to_edit [:edit, @adviser] %> |
<%= link_to_index advisers_path %>
