<% if @loan_types.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= LoanType.human_attribute_name 'created_at' %></th>
          <th><%= LoanType.human_attribute_name 'name' %></th>
          <th><%= LoanType.human_attribute_name 'initial_percentage' %></th>
          <th><%= LoanType.human_attribute_name 'annual_percentage' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @loan_types.each do |loan_type| %>
          <tr>
            <td class="col-md-2"><%= l loan_type.created_at %></td>
            <td><%= loan_type.name %></td>
            <td><%= number_to_percentage loan_type.initial_percentage %></td>
            <td><%= number_to_percentage loan_type.annual_percentage %></td>
            <td><%= link_to_edit [:edit, loan_type] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<%= paginate @loan_types %>
<%= link_to_new new_loan_type_path, class: 'btn btn-primary' %>
