<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @loan_type.name %>
</p>

<p>
  <strong>Initial percentage:</strong>
  <%= @loan_type.initial_percentage %>
</p>

<p>
  <strong>Annual percentage:</strong>
  <%= @loan_type.annual_percentage %>
</p>

<%= link_to 'Edit', edit_loan_type_path(@loan_type) %> |
<%= link_to 'Back', loan_types_path %>
