<div class="page-header page-header-sm">
  <h3><%= @body_template %></h3>
</div>

<strong><%= BodyTemplate.human_attribute_name 'content' %>:</strong>
<p>
  <%= @body_template.content %>
</p>

<hr />

<%= link_to_edit [:edit, @body_template] %> |
<%= link_to_index body_templates_path %>
