<p id="notice"><%= notice %></p>

<h1>Member Payments</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Paid at</th>
      <th>Expire at</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_payments.each do |member_payment| %>
      <tr>
        <td><%= member_payment.amount %></td>
        <td><%= member_payment.paid_at %></td>
        <td><%= member_payment.expire_at %></td>
        <td><%= member_payment.customer %></td>
        <td><%= link_to 'Show', member_payment %></td>
        <td><%= link_to 'Edit', edit_member_payment_path(member_payment) %></td>
        <td><%= link_to 'Destroy', member_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member Payment', new_member_payment_path %>
