<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :number %>
    <%= f.input :subtotal %>
    <%= f.input :tax_amount %>
    <%= f.input :tax_perception_amount %>
    <%= f.input :gross_income_perception_amount %>
    <%= f.input :amount %>
    <%= f.input :detail %>
    <%= f.association :invoice_type %>
    <%= f.association :tax_condition %>
    <%= f.association :expense_type %>
    <%= f.association :payment_method %>
    <%= f.association :supplier %>
    <%= f.association :cash %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
