<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invoice.number %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @invoice.subtotal %>
</p>

<p>
  <strong>Tax amount:</strong>
  <%= @invoice.tax_amount %>
</p>

<p>
  <strong>Tax perception amount:</strong>
  <%= @invoice.tax_perception_amount %>
</p>

<p>
  <strong>Gross income perception amount:</strong>
  <%= @invoice.gross_income_perception_amount %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @invoice.detail %>
</p>

<p>
  <strong>Invoice type:</strong>
  <%= @invoice.invoice_type %>
</p>

<p>
  <strong>Tax condition:</strong>
  <%= @invoice.tax_condition %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @invoice.payment_type %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @invoice.payment_method %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @invoice.supplier %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @invoice.cash %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
