<% if @marital_statuses.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= MaritalStatus.human_attribute_name 'created_at' %></th>
          <th><%= MaritalStatus.human_attribute_name 'name' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @marital_statuses.each do |marital_status| %>
          <tr>
            <td class="col-md-2"><%= l marital_status.created_at %></td>
            <td><%= marital_status.name %></td>
            <td><%= link_to_edit [:edit, marital_status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<%= paginate @marital_statuses %>
<%= link_to_new new_marital_status_path, class: 'btn btn-primary' %>
