<div class="panel-group" id="cash-summary">
  <% if @cash.cash_member_payments.exists? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to '#cash_member_payments', data: { toggle: 'collapse' } do %>
            <%= fa_icon 'id-card-o', text: CashMemberPayment.model_name.human(count: 0) %>
          <% end %>
          <strong class="pull-right">
            <%= number_to_currency @cash.cash_member_payments_sum %>
          </strong>
        </h4>
      </div>
      <div id="cash_member_payments" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'cashes/cash_member_payments/cash_member_payment' %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @cash.cash_payments.exists? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to '#cash_payments', data: { toggle: 'collapse' } do %>
            <%= fa_icon 'credit-card', text: CashPayment.model_name.human(count: 0) %>
          <% end %>
          <strong class="pull-right">
            <%= number_to_currency @cash.cash_payments_sum %>
          </strong>
        </h4>
      </div>
      <div id="cash_payments" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'cashes/cash_payments/cash_payment' %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @cash.cash_invoices.exists? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to '#cash_invoices', data: { toggle: 'collapse' } do %>
            <%= fa_icon 'file-text', text: CashInvoice.model_name.human(count: 0) %>
          <% end %>
          <strong class="pull-right">
            <%= number_to_currency @cash.cash_invoices_sum %>
          </strong>
        </h4>
      </div>
      <div id="cash_invoices" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'cashes/cash_invoices/cash_invoice' %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @cash.cash_employees.exists? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= link_to '#cash_employees', data: { toggle: 'collapse' } do %>
            <%= fa_icon 'male', text: CashEmployee.model_name.human(count: 0) %>
          <% end %>
          <strong class="pull-right">
            <%= number_to_currency @cash.cash_employees_sum %>
          </strong>
        </h4>
      </div>
      <div id="cash_employees" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'cashes/cash_employees/cash_employee' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
