<% if @cash.invoices.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= Invoice.human_attribute_name 'created_at' %></th>
          <th><%= Invoice.human_attribute_name 'user' %></th>
          <th><%= Invoice.human_attribute_name 'date' %></th>
          <th><%= Invoice.human_attribute_name 'invoice_type' %></th>
          <th><%= Invoice.human_attribute_name 'number' %></th>
          <th><%= Invoice.human_attribute_name 'supplier' %></th>
          <th><%= Invoice.human_attribute_name 'tax_condition' %></th>
          <th><%= Invoice.human_attribute_name 'subtotal' %></th>
          <th><%= Invoice.human_attribute_name 'amount' %></th>
          <th><%= Invoice.human_attribute_name 'detail' %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @cash.invoices.each do |invoice| %>
          <tr>
            <td><%= l invoice.created_at %></td>
            <td><%= invoice.user %></td>
            <td><%= l invoice.date %></td>
            <td><%= invoice.invoice_type %></td>
            <td><%= invoice.number %></td>
            <td><%= invoice.supplier %></td>
            <td><%= invoice.tax_condition %></td>
            <td><%= number_to_currency invoice.subtotal %></td>
            <td><%= number_to_currency invoice.amount %></td>
            <td><%= invoice.detail %></td>
            <td><%= link_to_edit [:edit, @cash, invoice], remote: true %></td>
            <td><%= link_to_destroy [@cash, invoice], remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<%= link_to_new [:new, @cash, :invoice], remote: true, class: 'btn btn-primary' %>
