<% if @customers.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= Customer.human_attribute_name 'created_at' %></th>
          <th><%= Customer.human_attribute_name 'name' %></th>
          <th><%= Customer.human_attribute_name 'lastname' %></th>
          <th><%= Customer.human_attribute_name 'identification_type' %></th>
          <th><%= Customer.human_attribute_name 'identification' %></th>
          <th><%= Customer.human_attribute_name 'phone' %></th>
          <th><%= Customer.human_attribute_name 'email' %></th>
          <th><%= Customer.human_attribute_name 'member' %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= l customer.created_at %></td>
            <td><%= customer.name %></td>
            <td><%= customer.lastname %></td>
            <td><%= t_field customer, 'identification_type' %></td>
            <td><%= customer.identification %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.email %></td>
            <td><%= t_boolean customer.member %></td>
            <td><%= link_to_show customer %></td>
            <td><%= link_to_edit [:edit, customer] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<%= paginate @customers %>
<%= link_to_new new_customer_path, class: 'btn btn-primary' %>
