<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cash_member_payment.user %>
</p>

<p>
  <strong>Member payment:</strong>
  <%= @cash_member_payment.member_payment %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @cash_member_payment.cash %>
</p>

<%= link_to 'Edit', edit_cash_member_payment_path(@cash_member_payment) %> |
<%= link_to 'Back', cash_member_payments_path %>
