<%= simple_form_for @header_template do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= HeaderTemplate.model_name.human count: 1 %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :name, autofocus: true %>
        </div>
      </div>
      <%= f.input :content, input_html: { class: 'ckeditor' } %>
      <%= f.input :lock_version, as: :hidden %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_button f %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
