<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @header_template.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @header_template.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @header_template.image %>
</p>

<%= link_to 'Edit', edit_header_template_path(@header_template) %> |
<%= link_to 'Back', header_templates_path %>
