<div class="page-header page-hader-sm">
  <h3><%= @header_template %></h3>
</div>


<strong><%= HeaderTemplate.human_attribute_name 'content' %>:</strong>
<p><%= @header_template.content %></p>

<hr />

<%= link_to_edit [:edit, @header_template] %> |
<%= link_to_index header_templates_path %>
