<% if @cash.cash_employees.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th><%= CashEmployee.human_attribute_name 'created_at' %></th>
          <th><%= CashEmployee.human_attribute_name 'user' %></th>
          <th><%= CashEmployee.human_attribute_name 'employee' %></th>
          <th><%= CashEmployee.human_attribute_name 'period' %></th>
          <th><%= CashEmployee.human_attribute_name 'amount' %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @cash.cash_employees.each do |cash_employee| %>
          <tr>
            <td class="col-md-2"><%= l cash_employee.created_at %></td>
            <td><%= cash_employee.user %></td>
            <td><%= cash_employee.employee %></td>
            <td><%= l cash_employee.period, format: :period %></td>
            <td><%= number_to_currency cash_employee.amount %></td>
            <td><%= link_to_edit [:edit, @cash, cash_employee], remote: true %></td>
            <td><%= link_to_destroy [@cash, cash_employee], remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<div class="pull-left">
  <%= link_to_new [:new, @cash, :cash_employee], remote: true, class: 'btn btn-primary' %>
</div>
