<%= simple_form_for @loan do |f| %>
  <div id="loans" class="row" data-simulator-url="<%= loans_simulator_url %>">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= Loan.model_name.human count: 1 %>
          </h3>
        </div>
        <div class="panel-body">
          <%= f.input :customer, as: :autocomplete, url: customers_searches_path, autofocus: true,
            input_html: { data: { empty_result_label: t('views.generic.empty_index') } } %>
          <div class="row">
            <div class="col-md-6">
              <%= f.association :credit_line, prompt: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :first_payment_days, disabled: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :type, collection: amortization_systems, prompt: true, disabled: @loan.persisted? %>
            </div>
            <div class="col-md-6">
              <%= f.input :payment_frequency, collection: payment_frequencies, prompt: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :amount %>
            </div>
            <div class="col-md-6">
              <%= f.input :payments_count %>
            </div>
          </div>
          <%= f.input :lock_version, as: :hidden %>
          <%= f.input :type, as: :hidden if @loan.persisted? %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= render template: 'loans/simulator/index' %>
    </div>
  </div>

  <hr />

  <div class="form-actions">
    <%= submit_button f %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
