<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <%= link_to t('loans.loan_data'), '#loan-data', data: { toggle: 'collapse' } %>
    </h4>
  </div>
  <div id="loan-data" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="page-header page-header-sm">
            <h4 class="text-info"><%= CreditLine.model_name.human count: 1 %></h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <strong><%= CreditLine.human_attribute_name 'name' %>:</strong>
                <%= @loan.credit_line.name %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'commission' %>:</strong>
                <%= number_to_percentage @loan.credit_line.commission %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'interest' %>:</strong>
                <%= number_to_percentage @loan.credit_line.interest %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'tax' %>:</strong>
                <%= number_to_percentage @loan.credit_line.tax %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'commission_max' %>:</strong>
                <%= number_to_currency @loan.credit_line.commission_max %>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <strong><%= CreditLine.human_attribute_name 'tax_perception' %>:</strong>
                <%= number_to_percentage @loan.credit_line.tax_perception %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'gross_income_perception' %>:</strong>
                <%= number_to_percentage @loan.credit_line.gross_income_perception %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'insurance' %>:</strong>
                <%= number_to_percentage @loan.credit_line.insurance %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'stamped' %>:</strong>
                <%= number_to_percentage @loan.credit_line.stamped %>
              </p>
              <p>
                <strong><%= CreditLine.human_attribute_name 'gross_income_perception_min' %>:</strong>
                <%= number_to_currency @loan.credit_line.gross_income_perception_min %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="page-header page-header-sm">
            <h4 class="text-info"><%= Loan.model_name.human count: 1 %></h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>
                <strong><%= Loan.human_attribute_name 'amount' %>:</strong>
                <%= number_to_currency @loan.amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'amount_total' %>:</strong>
                <%= number_to_currency @loan.amount_total %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'payments_count' %>:</strong>
                <%= @loan.payments_count %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'payment' %>:</strong>
                <%= number_to_currency @loan.payment %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'type' %>:</strong>
                <%= t_field @loan, 'type' %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'payment_frequency' %>:</strong>
                <%= t("loans.payment_frequencies.#{Loan::FREQUENCIES.key(@loan.payment_frequency)}") %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'first_payment_days' %>:</strong>
                <%= @loan.first_payment_days %>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <strong><%= Loan.human_attribute_name 'commission_amount' %>:</strong>
                <%= number_to_currency @loan.commission_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'stamped_amount' %>:</strong>
                <%= number_to_currency @loan.stamped_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'insurance_amount' %>:</strong>
                <%= number_to_currency @loan.insurance_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'tax_amount' %>:</strong>
                <%= number_to_currency @loan.tax_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'tax_perception_amount' %>:</strong>
                <%= number_to_currency @loan.tax_perception_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'gross_income_perception_amount' %>:</strong>
                <%= number_to_currency @loan.gross_income_perception_amount %>
              </p>
              <p>
                <strong><%= Loan.human_attribute_name 'expire_at' %>:</strong>
                <%= l @loan.expire_at %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
