<% if @loans.blank? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Status</th>
          <th>Amortization system</th>
          <th>Commission amount</th>
          <th>Interest amount</th>
          <th>Tax amount</th>
          <th>Tax perception amount</th>
          <th>Gross income perception amount</th>
          <th>Insurance amount</th>
          <th>Stamped amount</th>
          <th>Amount</th>
          <th>Amount total</th>
          <th>Payments count</th>
          <th>Payment</th>
          <th>Progress</th>
          <th>Expired at</th>
          <th>Canceled at</th>
          <th>Credit line</th>
          <th>Customer</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <td><%= loan.status %></td>
            <td><%= loan.amortization_system %></td>
            <td><%= loan.commission_amount %></td>
            <td><%= loan.interest_amount %></td>
            <td><%= loan.tax_amount %></td>
            <td><%= loan.tax_perception_amount %></td>
            <td><%= loan.gross_income_perception_amount %></td>
            <td><%= loan.insurance_amount %></td>
            <td><%= loan.stamped_amount %></td>
            <td><%= loan.amount %></td>
            <td><%= loan.amount_total %></td>
            <td><%= loan.payments_count %></td>
            <td><%= loan.payment %></td>
            <td><%= loan.progress %></td>
            <td><%= loan.expired_at %></td>
            <td><%= loan.canceled_at %></td>
            <td><%= loan.credit_line %></td>
            <td><%= loan.customer %></td>
            <td><%= link_to_show loan %></td>
            <td><%= link_to_edit [:edit, loan] %></td>
            <td><%= link_to_destroy loan %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<hr />

<%= paginate @loans %>
<%= link_to_new new_loan_path, class: 'btn btn-primary' %>
