<div class="page-header page-header-sm">
  <h3>
    <%= @loan.customer %>
    <small>
      <%= t_field @loan.customer, 'identification_type' %>:
      <%= @loan.customer.identification %>
    </small>
  </h3>
</div>

<%= render 'loan' %>

<%= render template: 'payments/index' %>

<hr />

<%= link_to_edit [:edit, @loan] %> |
<%= link_to_index loans_path %>
