<div class="page-header page-header-sm">
  <h3>
    <%= @loan.customer %>
    <small>
      <%= t_field @loan.customer, 'identification_type' %>:
      <%= @loan.customer.identification %>
    </small>
  </h3>
</div>

<div class="bs-callout bs-callout-info">
  <div class="row">
    <div class="col-md-6">
      <div class="page-header page-header-sm">
        <h4><%= CreditLine.model_name.human count: 1 %></h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong><%= CreditLine.human_attribute_name 'name' %>:</strong>
            <%= @loan.credit_line.name %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'commission' %>:</strong>
            <%= number_to_percentage @loan.credit_line.commission %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'interest' %>:</strong>
            <%= number_to_percentage @loan.credit_line.interest %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'tax' %>:</strong>
            <%= number_to_percentage @loan.credit_line.tax %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong><%= CreditLine.human_attribute_name 'tax_perception' %>:</strong>
            <%= number_to_percentage @loan.credit_line.tax_perception %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'gross_income_perception' %>:</strong>
            <%= number_to_percentage @loan.credit_line.gross_income_perception %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'insurance' %>:</strong>
            <%= number_to_percentage @loan.credit_line.insurance %>
          </p>
          <p>
            <strong><%= CreditLine.human_attribute_name 'stamped' %>:</strong>
            <%= number_to_percentage @loan.credit_line.stamped %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="page-header page-header-sm">
        <h4><%= Loan.model_name.human count: 1 %></h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong><%= Loan.human_attribute_name 'amortization_system' %>:</strong>
            <%= t_field @loan, 'amortization_system' %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'amount' %>:</strong>
            <%= number_to_currency @loan.amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'amount_total' %>:</strong>
            <%= number_to_currency @loan.amount_total %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'payments_count' %>:</strong>
            <%= @loan.payments_count %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'payment_frequency' %>:</strong>
            <%= t("loans.payment_frequencies.#{Loan::FREQUENCIES.key(@loan.payment_frequency)}") %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'payment' %>:</strong>
            <%= number_to_currency @loan.payment %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong><%= Loan.human_attribute_name 'commission_amount' %>:</strong>
            <%= number_to_currency @loan.commission_amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'stamped_amount' %>:</strong>
            <%= number_to_currency @loan.stamped_amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'insurance_amount' %>:</strong>
            <%= number_to_currency @loan.insurance_amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'tax_amount' %>:</strong>
            <%= number_to_currency @loan.tax_amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'tax_perception_amount' %>:</strong>
            <%= number_to_currency @loan.tax_perception_amount %>
          </p>
          <p>
            <strong><%= Loan.human_attribute_name 'gross_income_perception_amount' %>:</strong>
            <%= number_to_currency @loan.gross_income_perception_amount %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render template: 'payments/index', locals: { '@payments': @loan.payments } %>

<hr />

<%= link_to_edit [:edit, @loan] %> |
<%= link_to_index loans_path %>
