<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well" style="margin-top: 20px;">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t('.login'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
