<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th><%= Payment.human_attribute_name 'number' %></th>
        <th><%= Payment.human_attribute_name 'balance' %></th>
        <th><%= Payment.human_attribute_name 'capital' %></th>
        <th><%= Payment.human_attribute_name 'interest' %></th>
        <th><%= Payment.human_attribute_name 'tax' %></th>
        <th><%= Payment.human_attribute_name 'insurance' %></th>
        <th><%= Payment.human_attribute_name 'tax_perception' %></th>
        <th><%= Payment.human_attribute_name 'gross_income_perception' %></th>
        <th><%= Payment.human_attribute_name 'amount' %></th>
        <th><%= Payment.human_attribute_name 'expire_at' %></th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.number %></td>
          <td><%= number_to_currency payment.balance %></td>
          <td><%= number_to_currency payment.capital %></td>
          <td><%= number_to_currency payment.interest %></td>
          <td><%= number_to_currency payment.tax %></td>
          <td><%= number_to_currency payment.insurance %></td>
          <td><%= number_to_currency payment.tax_perception %></td>
          <td><%= number_to_currency payment.gross_income_perception %></td>
          <td><%= number_to_currency payment.amount %></td>
          <td><%= l payment.expire_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
