<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @payment.number %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @payment.capital %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @payment.interest %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @payment.tax %>
</p>

<p>
  <strong>Tax perception:</strong>
  <%= @payment.tax_perception %>
</p>

<p>
  <strong>Gross income perception:</strong>
  <%= @payment.gross_income_perception %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @payment.insurance %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @payment.balance %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Expire at:</strong>
  <%= @payment.expire_at %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @payment.paid_at %>
</p>

<p>
  <strong>Loan:</strong>
  <%= @payment.loan %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
