<p id="notice"><%= notice %></p>

<h1>References</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Identification type</th>
      <th>Identification</th>
      <th>Phone</th>
      <th>Relationship</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.name %></td>
        <td><%= reference.lastname %></td>
        <td><%= reference.identification_type %></td>
        <td><%= reference.identification %></td>
        <td><%= reference.phone %></td>
        <td><%= reference.relationship %></td>
        <td><%= reference.customer %></td>
        <td><%= link_to 'Show', reference %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_reference_path %>
