<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reference.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @reference.lastname %>
</p>

<p>
  <strong>Identification type:</strong>
  <%= @reference.identification_type %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @reference.identification %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reference.phone %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @reference.relationship %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @reference.customer %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
