<h2>Para el <%= l(@reminder.scheduled_at, format: :long) %>:</h2>

<p>
  <%= @reminder.description %>
    <% if @reminder.schedulable
      model = @reminder.schedulable.class %>
    <br />
    <div style="margin-left: 40px;">
      <div>
        <strong><%= @reminder.schedulable.model_name.human(count: 1) %>:</strong>
        <span><%= @reminder.schedulable %></span>
      </div>
      <div>
        <strong><%= model.human_attribute_name 'phone' %>:</strong>
        <span><%= @reminder.phone %></span>
      </div>
      <div>
        <strong><%= model.human_attribute_name 'cellphone' %>:</strong>
        <span><%= @reminder.cellphone %></span>
      </div>
      <div>
        <strong><%= model.human_attribute_name 'address' %>:</strong>
        <span><%= @reminder.full_address %></span>
      </div>
    </div>
  <% end %>
</p>

<hr />
<p>
  Podés <strong>organizar</strong> tus eventos en Libanco desde
  <%= link_to 'acá', "#{schedules_url(subdomain: @reminder.account.subdomain)}/#{l(Date.today, format: :calendar)}" %>
</p>
