<h2>Para el <%= l(@reminder.scheduled_at, format: :long) %>:</h2>

<p>
  <%= @reminder.description %>
  <% if @reminder.schedulable %>
    <br />
    <div style="margin-left: 40px;">
      <div>
        <strong><%= Customer.model_name.human(count: 1) %>:</strong>
        <span><%= @reminder.schedule.full_name %></span>
      </div>
      <div>
        <strong><%= Customer.human_attribute_name :phone %>:</strong>
        <span><%= @reminder.schedule.phone %></span>
      </div>
      <div>
        <strong><%= Customer.human_attribute_name :cellphone %>:</strong>
        <span><%= @reminder.schedule.cellphone %></span>
      </div>
      <div>
        <strong><%= Customer.human_attribute_name :address %>:</strong>
        <span><%= @reminder.schedule.address %></span>
      </div>
    </div>
  <% end %>
</p>

<hr />
<p>
  Podés <strong>organizar</strong> tus eventos en Libanco desde
  <%= link_to 'acá', "#{schedules_url(subdomain: @reminder.account.subdomain)}/#{l(Date.today, format: :calendar)}" %>
</p>
