<h2>Hola <%= @user %>,<h2>
<h3>Éstos son los eventos para mañana <%= l(Date.tomorrow, format: :minimal) %>:</h3>

<% @schedules.each do |schedule| %>
  <p>
    <strong><%= l(schedule.scheduled_at, format: :time) %></strong> | <%= schedule.description %>
    <% if schedule.schedulable
      model = schedule.schedulable.class %>
      <br />
      <div style="margin-left: 40px;">
        <div>
          <strong><%= schedule.schedulable.model_name.human(count: 1) %>:</strong>
          <span><%= schedule.schedulable %></span>
        </div>
        <div>
          <strong><%= model.human_attribute_name 'phone' %>:</strong>
          <span><%= schedule.phone %></span>
        </div>
        <div>
          <strong><%= model.human_attribute_name 'cellphone' %>:</strong>
          <span><%= schedule.cellphone %></span>
        </div>
        <div>
          <strong><%= model.human_attribute_name 'address' %>:</strong>
          <span><%= schedule.full_address %></span>
        </div>
      </div>
    <% end %>
  </p>
<% end %>

<hr />
<p>
  Podés <strong>organizar</strong> tus eventos en Libanco desde
  <%= link_to 'acá', "#{schedules_url(subdomain: @user.account.subdomain)}/#{l(Date.tomorrow, format: :calendar)}" %>
</p>
