<div class="text-right">
  <small>Buenos Aires <%= l Date.today, format: :long %></small>
</div>

<h4 class="title">SOLICITUD DE INGRESO</h4>

Señor Presidente de <strong>Continental Capital</strong><br />
<p class="text-justify text-indent">
  Quien suscribe <strong><%= [@customer.lastname, @customer.name].join ', ' %></strong> con domicilio legal/particular en
  <strong><%= @customer.full_address %></strong> no Particular/Celular (+54) <strong><%= @customer.phone %></strong>
  Teléfono Comercial. Solicita ser admitido como Socio de Continental Capital Coop. De ahorro, crédito, consumo y vivienda
  Ltda. Y a tal efecto integra como socio <strong>$1000 (Mil pesos argentinos)</strong>.<br />
  Cada una sometiéndose desde ya a la fiel observancia de las prescripciones estatutarias y reglamentarias vigentes en
  Continental Capital de su digna presidencia.
</p>

<br />

<div class="text-right">
  Saludo a usted muy atte.
</div>

<div class="pull-right firm-container">
  <div class="text-center firm">
    --------------------------------------<br />
    Firma
  </div>

  <div class="text-center firm">
    --------------------------------------<br />
    Aclaración
  </div>
</div>
<div class="clearfix"></div>

<div class="box">
  <h5 class="text-center">RESOLUCIÓN DEL CONSEJO DE ADMINISTRACIÓN</h5>
  ACTA N°.....................<br />
  FECHA   ...../......./20.....
</div>

<div class="page-break"></div>

<h4 class="text-center"><strong>INFORMACIÓN DATOS</strong></h4>
<br />
<br />

<div class="text-uppercase">
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'name' %>:</strong>
      <span class="label label-default"><%= @customer.name %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'lastname' %>:</strong>
      <span class="label label-default"><%= @customer.lastname %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'identification_type' %>:</strong>
      <span class="label label-default"><%= t_field @customer, 'identification_type' %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'identification' %>:</strong>
      <span class="label label-default"><%= @customer.identification %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'birthdate' %>:</strong>
      <span class="label label-default"><%= l @customer.birthdate %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'place_birth' %>:</strong>
      <span class="label label-default"><%= @customer.place_birth %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'nacionality' %>:</strong>
      <span class="label label-default"><%= @customer.nacionality %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'address' %>:</strong>
      <span class="label label-default"><%= @customer.address %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'city' %>:</strong>
      <span class="label label-default"><%= @customer.city %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'state' %>:</strong>
      <span class="label label-default"><%= @customer.state %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'phone' %>:</strong>
      <span class="label label-default"><%= @customer.phone %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'email' %>:</strong>
      <span class="label label-default"><%= @customer.email %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'marital_status' %>:</strong>
      <span class="label label-default"><%= @customer.marital_status %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'occupation' %>:</strong>
      <span class="label label-default"><%= @customer.occupation %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'education_level' %>:</strong>
      <span class="label label-default"><%= @customer.education_level %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'monthly_income' %>:</strong>
      <span class="label label-default"><%= number_to_currency @customer.monthly_income %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'work_address' %>:</strong>
      <span class="label label-default"><%= @customer.work_address %></span>
    </div>
    <div class="col-xs-6">
      <strong><%= Customer.human_attribute_name 'card' %>:</strong>
      <span class="label label-default"><%= @customer.card %></span>
    </div>
  </div>
</div>

<div class="pull-right firm-container">
  <div class="text-center firm">
    --------------------------------------<br />
    Firma
  </div>

  <div class="text-center firm">
    --------------------------------------<br />
    Aclaración
  </div>
</div>
<div class="clearfix"></div>
