<!doctype html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag '/favicon.ico', rel: 'icon', type: 'image/x-icon' %>
  <%= wicked_pdf_stylesheet_link_tag('pdf') %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
